<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration packagingData="true" debug="true">
	<!-- Default -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>logs/application.log</file>
            <append>false</append>
            <encoder>
                <!--pattern>%-5relative %-5level %logger{35} - %msg%n</pattern-->
                <pattern>%d{yyyy-MM-dd' T 'HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		      <!-- daily rollover -->
		      <fileNamePattern>logs/%d{yyyy-MM,aux}/%d_application.log</fileNamePattern>
			  <!-- keep 30 days' worth of history -->
		      <maxHistory>100</maxHistory>
		    </rollingPolicy>
        </appender>
	<!--root level="TRACE">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root-->
	<!-- Fin Default -->
	
	<appender name="INFO" class="ch.qos.logback.core.ConsoleAppender">
	  <encoder>
	    <pattern>%-5p [%C] %M\(\) : %m%n</pattern>
	  </encoder>
	</appender>
	<appender name="WARN" class="ch.qos.logback.core.ConsoleAppender">
	  <encoder>
	    <pattern>%-5p [%C] %M\(\) : %m%n</pattern>
	  </encoder>
	</appender>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
	  <encoder>
	    <pattern>%-5p [%C] %M\(\) : %m%n</pattern>
	  </encoder>
	</appender>
 
  <!--logger name="com" level="TRACE"/>
  <logger name="org" level="TRACE"/-->
  <!-- 
  org.hibernate.annotations
  org.hibernate.dialect
   -->
  <root level="TRACE">
  	<appender-ref ref="STDOUT" />
    <!--appender-ref ref="INFO"/-->
    <appender-ref ref="FILE"/>
  </root>
</configuration>